@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer components {
  /* .header-item {
    @apply py-2;
  } */

  .select {
    @apply border rounded-lg block w-auto p-2.5 
    /* bg-gray-50 border-gray-300 text-gray-900 */
    bg-gray-700 border-gray-600 text-white;
  }

  .header-item {
    @apply block text-gray-300 my-auto
    hover:bg-transparent hover:text-white;
  }

  .body {
    @apply max-w-5xl mx-auto min-h-full border border-white;
  }
}
